# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# lab1 files
lab1/*.tar.gz
lab1/256768*
lab1/zad1
lab1/zad2
lab1/zad3
lab1/zad4
lab1/code*
lab1/ex1*
lab2/256768*
lab2/zad1
lab2/zad2
lab2/zad3
lab2/archive
